<p>decoration-tab works!</p>
<div class="card">
    <p-table [value]="decorations" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Decorations
          <p-button icon="pi pi-refresh"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Category</th>
          <th>Reviews</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-decoration>
        <tr>
          <td>{{decoration.name}}</td>
          <td><img [src]="decoration.image" alt="{{decoration.name}}" width="50"></td>
          <td>{{decoration.price | currency:'TND'}}</td>
          <td>{{decoration.category}}</td>
          <td>{{decoration.reviews}}</td>
          <td>{{decoration.status}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{decorations ? decorations.length : 0 }} decorations.
        </div>
      </ng-template>
    </p-table>
  </div>
  