<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a pRipple class="flex align-items-center p-menuitem-link" routerLink="/client/home">
      <img src="assets/logo-1.png" width="150">
    </a>    </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
      <p>{{fullName}}</p>
      <p-button [outlined]="true" (onClick)="logOut()" label="Log Out" icon=" pi pi-sign-out"></p-button>

    </div>
  </ng-template>
</p-menubar>

<router-outlet></router-outlet>
