p-card {
    padding: 16px;
    margin-bottom: 16px;
    margin: 10px; /* Marge entre les cartes */
    max-height: 500px; /* Hauteur maximale des cartes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*overflow-y: auto; /* Débordement vertical avec barre de défilement si nécessaire */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 16px; /* Adjust the value as needed for spacing between buttons */
  margin-top: 16px; /* Adjust the value as needed for spacing above the buttons */
}


