<div class="card-container">
    <div *ngFor="let pack of packs" class="card">
        <p-card [style]="{ width: '360px', height: '400px' }">
            <ng-template pTemplate="header">
                {{ pack.title }}
            </ng-template>
            <p>
                {{ pack.description }}
            </p>
            <ng-template pTemplate="footer" class="card-footer">
                <div class="flex gap-3 mt-1">
                    <button pButton type="button" label="Delete" class="w-full" styleClass="w-full" (click)="deletePack(pack)"></button>
                    <button pButton type="button" label="Edit" class="w-full" styleClass="w-full" (click)="editPack(pack)"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
