
<div class="card">
  <p-table [value]="venues" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        venues
        <p-button icon="pi pi-refresh"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Category</th>
        <th>Reviews</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venue>
      <tr>
        <td>{{venue.name}}</td>
        <td></td>
        <td>{{venue.price | currency:'TND'}}</td>
        <td>{{venue.location}}</td>
<!--        <td><p-rating [ngModel]="venue.price" [readonly]="true" [cancel]="false"></p-rating></td>-->
<!--        <td><p-tag [value]="venue.inventoryStatus" [severity]="getSeverity(venue.inventoryStatus)"></p-tag></td>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{venues ? venues.length : 0 }} venues.
      </div>
    </ng-template>
  </p-table>
</div>
