/* src/app/dashboard/dashboard.component.css */
:host ::ng-deep .p-tabview-nav li {
  padding: 10px;
}

:host ::ng-deep .p-tabview-nav li .p-tabview-title {
  font-size: 16px;
}

:host ::ng-deep .p-tabview-nav li.p-highlight .p-tabview-title {
  font-weight: bold;
}

:host ::ng-deep .p-tabview-nav li .p-tabview-close {
  display: none;
}

:host ::ng-deep .p-tabview-panels {
  padding: 20px;
}

:host ::ng-deep .p-tabview-panels .p-tabview-panel {
  border: none;
  box-shadow: none;
}
